.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 0 auto 6rem;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-avatar{
    display: flex;
    align-items: center;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }

  .page-header-cont{
margin-left: 0.5rem;
  }

  .main{
    position: relative;
  }