.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 0 auto 6rem;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-avatar {
  display: flex;
  align-items: center;
}

.backToHome {
  margin: 3rem 0 0;
}

.page-header-cont {
  margin-left: 0.5rem;
}

.main {
  position: relative;
}
