.button-back-up {
  position: fixed;
  z-index: 99;
  top: calc(var(--vh, 1vh) * 93);
  right: 50vw;
  transform: translateX(50%);
  display: block;
  transition: opacity 600ms ease-in-out;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

.active {
  visibility: visible;
  opacity: 1;
}
