.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-cont{
    position:fixed; 
    top: 0;
    margin-left: -1rem;
    width: 100%;
    max-width: 36rem;
    z-index: 999;
    backdrop-filter: blur(8px);
    background-color: rgba(250, 245, 245, 0.386);
  }
  
  .header-avatar {
    display: flex;
    align-items: center;
    padding-left: 1rem;
  }

  .page-header-cont {
    margin-left: 0.5rem;
  }
  .nav{
    padding-right: 1rem;
  }