.title-big {
    font-size: 4.5rem;
    opacity: 0.9;
    margin: auto;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    color: #172B4D;
    margin-top: 80px;
}
