@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    background-color: #E2E4E9;
    scroll-behavior: smooth;
}

hr{
    background-color: var(--ds-border,#091e4221);
    border: 0;
    height: 1px;
    margin: 0;
    padding: 0;
    width: 100%;
}
